In [140]:
import pandas as pd
import csv

In [141]:
datafile=pd.read_csv('data.csv')

In [142]:
datafile.shape

(47, 4)

In [143]:
datafile.head(3)

    _type  _id     _score                                            _source
0  movies   97  20.848059  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1  movies  507  10.478757  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...
2  movies  811   9.831051  {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...

In [144]:
datafile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
_type      47 non-null object
_id        47 non-null int64
_score     47 non-null float64
_source    47 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.5+ KB

In [145]:
datafile.columns

Index(['_type', '_id', '_score', '_source'], dtype='object')

In [146]:
activity_datafile=pd.read_csv('activity_data.csv')

In [147]:
activity_datafile.shape

(5, 7)

In [148]:
activity_datafile.head()

,media_type,watched,rating,watchlist,profile_id,id,hide
0,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '744_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
1,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'NULL': True}, 'timestamp': {...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '820_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
2,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '402_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
3,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '87_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
4,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '810_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."

In [149]:
activity_datafile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
media_type    5 non-null object
watched       5 non-null object
rating        5 non-null object
watchlist     5 non-null object
profile_id    5 non-null object
id            5 non-null object
hide          5 non-null object
dtypes: object(7)
memory usage: 360.0+ bytes

In [150]:
activity_datafile.columns

Index(['media_type', 'watched', 'rating', 'watchlist', 'profile_id', 'id',
       'hide'],
      dtype='object')

In [151]:
outputfile=pd.read_csv('output (1).csv')

In [152]:
outputfile.shape

(47, 1)

In [153]:
outputfile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 1 columns):
_source    47 non-null object
dtypes: object(1)
memory usage: 456.0+ bytes

In [154]:
outputfile.columns

Index(['_source'], dtype='object')

In [155]:
series_of_ids=datafile['_id']

In [156]:
outputfile['id']=series_of_ids

In [157]:
outputfile.columns

Index(['_source', 'id'], dtype='object')

In [158]:
outputfile.head()

                                             _source     id
0  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...     97
1  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...    507
2  {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...    811
3  {'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...  25222
4  {'cast': ['Margaret Rutherford', 'Ron Moody', ...    757

In [159]:
output_final=pd.merge(outputfile,activity_datafile,on='id')

In [160]:
final_output_csv_file=output_final.to_csv()